#div1 {
  width: 50%;
  height: 50%;
  float: left;
  background: #ddd;
}

#div2 {
  width: 50%;
  height: 50%;
  float: left;
  background: #aaa;
}

#div3 {
  width: 50%;
  height: 50%;
  float: left;
  background: #777;
}

#div4 {
  width: 50%;
  height: 50%;
  float: left;
  background: #444;
}

.horizTranslate {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
